
h1{
    font-size: 70px;
    text-align: center;
    color: bisque;
}
nav ul li  {
    display: inline;
   list-style: none;
    margin-left: 10px;
   

}
nav ul li a {
    float: right;
    color: blanchedalmond;
    text-decoration: none;
    padding-right: 15px;
    font-size: medium;
}
img {
    width: 300px;
    height: 300px;
    margin-left: 100px;
}
canvas{
    width: 1000px !important;
    height: 600px !important;
    margin-left: 300px;
    margin-top: 50px;
}
#myChart {
    background-color: white;
    width: 80%;
    
  }
