*{
    /* background-color: rgb(228, 226, 245); */
  
}
header{
    background-image: url(https://img.freepik.com/free-vector/stone-background-with-golden-strokes_125540-130.jpg?size=626&ext=jpg&ga=GA1.2.1564559326.1598390098);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-size: 70px;
    text-align: center;
    color:#b44454;
}
nav ul li  {
    display: inline;
   list-style: none;
    margin-left: 10px;
   

}
nav ul li a {
    float: right;
    color: #b44454;
    text-decoration: none;
    padding-right: 15px;
    font-size: medium;
}
img {
    width: 300px;
    height: 300px;
    margin-left: 150px;
   
}
canvas{
    width: 1000px !important;
    height: 600px !important;
    margin-left: 300px;
    margin-top: 50px;
}
#myChart {
    background-color: white;
    width: 80%;
    
  }
#result {
    display: inline-block;
   margin-left: 550px;
    list-style: none;
    color: #b44454;
    font-size: 20px;
    border-color: #d8af61;
    background-color: #d8af61 ;
}
footer {
    background-image: url(https://img.freepik.com/free-vector/stone-background-with-golden-strokes_125540-130.jpg?size=626&ext=jpg&ga=GA1.2.1564559326.1598390098);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    margin-top: 400px;
    text-align: center;
    color: #b44454 ;
    font-size: 40px;
}
footer p {
    margin-bottom: 0px;
    margin-top: 70PX;
    display: inline-block;
}